:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  max-width: 600px;
  text-align: center;
  font-size: 1.3em;
  margin: 60px auto;
  padding: 24px;
  background: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border: 2px solid rgb(230, 130, 49);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(230, 130, 49);
}

.description{
  color: rgb(230, 188, 49)
}

.wallet-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  border-radius: 999px;
  border: none;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  background: rgb(230, 130, 49); 
  color: white;
  transition: all 0.2s ease;
}

.wallet-btn:hover {
  cursor: pointer;
}

.excBtn{
  background-color: rgb(234, 188, 36);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  border-radius: 999px;
  border: none;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

.selects{
  font-size: 0.8em;
  padding: 3px 5px;
  margin-top: 15px;
  margin-left: 5px;
  border-radius: 20px;
  width: 180px;
  text-align: center;
}

input{
  font-size: 0.9em;
  margin-top: 15px;
  text-align: center;
  width: 180px;
}
